<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Info</title>
</head>
<body>
    <h1>Welcome {{current_user.first_name}}</h1>
    <h2>{{trip.destination}}</h2>
    <div>
        <p>Start Date: {{trip.start_date}}</p>
        <p>End Date: {{trip.end_date}}</p>
        <p>Created At: {{trip.created_at}}</p>
        <p>Updated At: {{trip.updated_at}}</p>
        <p>Created by {{current_user.first_name}} {{current_user.last_name}}</p>
    </div>
</body>
</html>